<div class="hotels" *ngIf="Hotels">
  <div class="eachhotel" *ngFor="let hotel of Hotels">

    <p><b>{{hotel.HotelName}}</b></p>
    <p>Kes {{hotel.HotelPrice}}</p>
    <p>Location: {{hotel.HotelDescription}}</p>
    <div *ngIf="username ==='admin'">
      <input type="submit" value="update">
    </div>
  </div>
</div>

<input type="checkbox" (change)="onChange()" value= "showParagraph$ | async">
<p *ngIf="showParagraph | async"> show paragraph</p>
<br>
<br />
<button (click)="onIncrement()">+</button>

<h1>{{count$ | async }}</h1>
<button  (click)="onDecrement()">-</button>
<br />

<button  (click)="onReset()">Reset</button>
